* {
    margin: 0;
    padding: 0;
}
.product {
    display: flex;
    padding: 20px;
    gap: 20px;
    border-bottom: 1px solid rgb(191, 191, 191);
}
.product-image {
    width: 200px;
}
.product-btn {
    padding: 5px 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    border: 0.2px  solid grey;
    background-color: goldenrod;
}
.product-btn:hover {
    cursor: pointer;
}